###
#
# Copyright 2017-2021 Crunchy Data Solutions, Inc. All Rights Reserved.
#
###

- targets: [ "10.123.202.12:9187" ]
  labels:
    job: "Prod"
    exp_type: "pg"
    cluster: "crunchy"
- targets: [ "10.123.202.12:9188" ]
  labels:
    job: "Prod"
    exp_type: "pg"
    cluster: "crunchy"
