###
#
# Copyright 2017-2021 Crunchy Data Solutions, Inc. All Rights Reserved.
#
###

- targets: [ "10.123.202.13:9187" ]
  labels:
    job: "Replica"
    exp_type: "pg"
    cluster_name: "crunchy"
- targets: [ "10.123.202.13:9188" ]
  labels:
    job: "mycluster_Replica"
    exp_type: "pg"
    cluster_name: "crunchy"
