###
#
# Copyright © 2017-2022 Crunchy Data Solutions, Inc. All Rights Reserved.
#
###

groups:
- name: alert-rules
  rules:

########## SYSTEM RULES ##########
  - alert: ExporterDown
    expr: avg_over_time(up[5m]) < 0.9
    for: 10s
    labels:
      service: system
      severity: critical
      severity_num: 300
    annotations:
      description: 'Metrics exporter service for {{ $labels.job }} running on {{ $labels.instance }} has been down at least 50% of the time for the last 5 minutes. Service may be flapping or down.'
      summary: 'Prometheus Exporter Service Down'

  - alert: DiskUsagePerc
    expr: (100 - 100 * sum(wmi_logical_disk_free_bytes{volume="C:"} / wmi_logical_disk_size_bytes{volume="C:"}) BY (job,device)) > 70
    for: 2m
    labels:
      service: system
      severity: warning
      severity_num: 200
    annotations:
      description: 'Disk usage on target {{ $labels.job }} at {{ $value }}%'

  - alert: DiskUsagePerc
    expr: (100 - 100 * sum(wmi_logical_disk_free_bytes{volume="C:"} / wmi_logical_disk_size_bytes{volume="C:"}) BY (job,device)) > 85
    for: 2m
    labels:
      service: system
      severity: critical
      severity_num: 300
    annotations:
      description: 'Disk usage on target {{ $labels.job }} at {{ $value }}%'

  - alert: DiskFillPredict
    expr: predict_linear(wmi_logical_disk_free_bytes{volume="C:"}[1h], 4 * 3600) < 0
    for: 5m
    labels:
      service: system
      severity: warning
      severity_num: 200
    annotations:
      description: '(EXPERIMENTAL) Disk {{ $labels.device }} on target {{ $labels.job }} is predicted to fill in 4 hrs based on current usage'

  - alert: SystemLoad5m
    expr: ((wmi_cpu_time_total{core="0",mode="dpc"}+wmi_cpu_time_total{core="0",mode="interrupt"}+wmi_cpu_time_total{core="0",mode="privileged"}+wmi_cpu_time_total{core="0",mode="user"}+wmi_cpu_time_total{core="0",mode="idle"}) > 5
    for: 10m
    labels:
      service: system
      severity: warning
      severity_num: 200
    annotations:
      description: 'System load for target {{ $labels.job }} is high ({{ $value }})'

  - alert: SystemLoad5m
    expr: ((wmi_cpu_time_total{core="0",mode="dpc"}+wmi_cpu_time_total{core="0",mode="interrupt"}+wmi_cpu_time_total{core="0",mode="privileged"}+wmi_cpu_time_total{core="0",mode="user"}+wmi_cpu_time_total{core="0",mode="idle"}) > 10
    for: 10m
    labels:
      service: system
      severity: critical
      severity_num: 300
    annotations:
      description: 'System load for target {{ $labels.job }} is high ({{ $value }})'

  - alert: MemoryAvailable
    expr: (100 * (wmi_os_physical_memory_free_bytes) / wmi_cs_physical_memory_bytes) < 25
    for: 1m
    labels:
      service: system
      severity: warning
      severity_num: 200
    annotations:
      description: 'Memory available for target {{ $labels.job }} is at {{ $value }}%'

  - alert: MemoryAvailable
    expr: (100 * (wmi_os_physical_memory_free_bytes) / wmi_cs_physical_memory_bytes) < 10
    for: 1m
    labels:
      service: system
      severity: critical
      severity_num: 300
    annotations:
      description: 'Memory available for target {{ $labels.job }} is at {{ $value }}%'

  - alert: SwapUsage
    expr: (100 - (100 * (wmi_os_virtual_memory_free / wmi_os_virtual_memory_bytes))) > 60
    for: 1m
    labels:
      service: system
      severity: warning
      severity_num: 200
    annotations:
      description: 'Swap usage for target {{ $labels.job }} is at {{ $value }}%'

  - alert: SwapUsage
    expr: (100 - (100 * (wmi_os_virtual_memory_free / wmi_os_virtual_memory_bytes))) > 80
    for: 1m
    labels:
      service: system
      severity: critical
      severity_num: 300
    annotations:
      description: 'Swap usage for target {{ $labels.job }} is at {{ $value }}%'
