.include /usr/lib/systemd/system/alertmanager.service

# Override above package service config with our own as needed
[Service]
PermissionsStartOnly=true
User=ccp_monitoring
EnvironmentFile=/etc/sysconfig/alertmanager
ExecStart=/usr/bin/alertmanager ${CONFIG} ${STORAGE} ${LOGLEVEL}
ExecReload=/usr/bin/kill -HUP $MAINPID
Restart=always
