[Unit]
Description=AlertManager Server
After=network.target

[Service]
PermissionsStartOnly=true
User=ccp_monitoring
EnvironmentFile=/etc/sysconfig/alertmanager
ExecStart=/usr/bin/alertmanager ${CONFIG} ${STORAGE}
ExectStop=/usr/bin/kill -9 $(pidof alertmanager)
Restart=always

[Install]
WantedBy=multi-user.target
