.include /usr/lib/systemd/system/prometheus.service

# Override above package service config with our own as needed
[Service]
PermissionsStartOnly=true
User=ccp_monitoring
EnvironmentFile=/etc/sysconfig/prometheus
ExecStart=/usr/bin/prometheus ${CONFIG} ${STORAGEPATH} ${STORAGERETENTION} ${LOGLEVEL}
ExecReload=/usr/bin/kill -HUP $MAINPID
Restart=always

