.include /usr/lib/systemd/system/postgres_exporter.service

# Override above package service config with our own as needed
[Service]
PermissionsStartOnly=true
User=ccp_monitoring
EnvironmentFile=/etc/sysconfig/postgres_exporter
ExecStart=/usr/bin/postgres_exporter ${WEB_LISTEN_ADDRESS} ${QUERY_PATH}
ExecReload=/usr/bin/kill -HUP $MAINPID
