###
#
# Copyright © 2017-2024 Crunchy Data Solutions, Inc. All Rights Reserved.
#
###

groups:
- name: alert-rules
  rules:

 ########## BLACKBOX EXPORTER RULES ##########
  - alert: BlackBoxProbe
    expr: probe_success == 0
    for: 60s
    labels:
      service: blackbox
      severity: critical
      severity_num: 300
    annotations:
      summary: 'Blackbox probe {{ $labels.job }} for instance {{ $labels.instance }} is failing'
