###
#
# Copyright © 2017-2023 Crunchy Data Solutions, Inc. All Rights Reserved.
#
###

[Unit]
Description=SQL Exporter for Prometheus
Documentation=https://github.com/burningalchemist/sql_exporter
Wants=network-online.target
After=network-online.target

[Service]
User=ccp_monitoring
EnvironmentFile=/etc/sysconfig/sql_exporter
ExecStart=/usr/bin/sql_exporter $OPT
Restart=on-failure
# Reload not working as expected - https://github.com/burningalchemist/sql_exporter/issues/297
#ExecReload=curl http://127.0.0.1:9399/reload


#Group=sql_exporter
#Type=simple
#WorkingDirectory=/usr/share/sql_exporter
#RuntimeDirectory=sql_exporter
#RuntimeDirectoryMode=0750
#ExecStart=/usr/bin/sql_exporter -config.file=${CONF_FILE} -web.listen-address=${LISTEN_ADDRESS} -log.json=${LOG_JSON} -log.level=${LOG_LEVEL} -web.enable-reload=${ENABLE_RELOAD} -web.metrics-path=${METRICS_PATH} -web.config.file=${WEB_CONFIG_FILE}
#LimitNOFILE=10000
#TimeoutStopSec=20
#CapabilityBoundingSet=
#DeviceAllow=
#LockPersonality=true
#MemoryDenyWriteExecute=false
#NoNewPrivileges=true
#PrivateDevices=true
#PrivateTmp=true
#ProtectClock=true
#ProtectControlGroups=true
#ProtectHome=true
#ProtectHostname=true
#ProtectKernelLogs=true
#ProtectKernelModules=true
#ProtectKernelTunables=true
#ProtectProc=invisible
#ProtectSystem=full
#RemoveIPC=true
#RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
#RestrictNamespaces=true
#RestrictRealtime=true
#RestrictSUIDSGID=true
#SystemCallArchitectures=native
#UMask=0027

[Install]
WantedBy=multi-user.target
