.include /usr/lib/systemd/system/node_exporter.service

# Override above package service config with our own as needed
[Service]
PermissionsStartOnly=true
User=ccp_monitoring
EnvironmentFile=/etc/sysconfig/node_exporter
ExecStart=/usr/bin/node_exporter ${OPTIONS}
ExecReload=/usr/bin/kill -HUP $MAINPID
Restart=always
