[Unit]
Description=Node Exporter Server
After=network.target

[Service]
PermissionsStartOnly=true
User=ccp_monitoring
EnvironmentFile=/etc/sysconfig/node_exporter
ExecStart=/usr/bin/node_exporter ${OPTIONS}
ExecReload=/usr/bin/kill -HUP $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
