# -*- mode: conf -*-

[Unit]
Description=Prometheus exporter allowing blackbox probing of endpoints over HTTP, HTTPS, DNS, TCP and ICMP.
Documentation=https://github.com/prometheus/blackbox_exporter
After=network.target

[Service]
PermissionsStartOnly=true
User=ccp_monitoring
EnvironmentFile=/etc/sysconfig/blackbox_exporter
ExecStart=
ExecStart=/usr/bin/blackbox_exporter $OPT
ExecReload=/usr/bin/kill -HUP $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target

